.modal-container {
    @include flexCenter(); /* Voir mixin */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $dark-bg-color;
}

.invisible, .hide {
    display: none;
}

.modal {
    background-color: $primary-color;
    border-radius: 7px;
    padding: 30px 50px;
    max-width: 100%;
    text-align: center;
}

table {
    margin: auto;
    text-align: center;
    color: $text-color;
}

td {
    padding: 7px;
}
