/* Variables */
/* Mixin */
.result {
  margin: 7px;
}

.error {
  color: red;
  text-shadow: 1px 1px 2px whitesmoke;
  font-size: 1.3em;
}

input[type=text] {
  background-color: rgba(255, 255, 255, 0.356);
  border-bottom: 2px solid grey;
  border-radius: 7px;
}

.name-label {
  color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Voir mixin */
  min-height: 100vh;
  background-color: purple;
}

.btn {
  margin: 1em;
  background-color: #1f1f1f;
  border: none;
  border-radius: 14px;
  color: whitesmoke;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.356);
}

h1, h2, p {
  text-align: center;
  color: whitesmoke;
}

.board {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  border-radius: 7px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.card {
  cursor: pointer;
  list-style: none;
  width: 65px;
  height: 65px;
}
.card:hover {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
}

.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-12px);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
}
.timer {
  width: 95%;
  height: 14px;
  margin: 14px;
  border-radius: 14px;
  background-color: purple;
  border: 1px solid grey;
}

.progress-bar {
  height: 14px;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 14px;
}

@media screen and (max-width: 640px) {
  .board {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 300px) {
  .board {
    grid-template-columns: repeat(3, 1fr);
  }
}
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Voir mixin */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.invisible, .hide {
  display: none;
}

.modal {
  background-color: purple;
  border-radius: 7px;
  padding: 30px 50px;
  max-width: 100%;
  text-align: center;
}

table {
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

td {
  padding: 7px;
}